.bod {
    background-color: rgb(78, 21, 21);
}

#hh1 {
    color: rgb(159, 95, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hh2 {
    color: rgb(159, 95, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#para {
    color: rgb(183, 113, 113);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
    color: rgb(183, 113, 113);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}