.bod {
    background-color: rgb(252, 195, 80);
}

#hh1 {
    color: rgb(99, 48, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hh2 {
    color: rgb(99, 48, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#para {
    color: rgb(99, 48, 23);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
    color: rgb(99, 48, 23);
    font-family: Georgia, 'Times New Roman', Times, serif;
}